
/*
COLOR TABLE

Maroon	#800000
Gold	#F4D569	
Black & Maroon	#6B0000	
White	#FFFFFF	
Black	#000000
purple #660066
*/

html, body {
  height: 100%;
  margin: 0px;
  top:0;
}

.full-height {
    height: 100%;
}

/*main button styles*/

.mainbtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn{
    background-color: #2c2c2c; 
    color: white; 
    border: 1px solid #660066;
}

.submitbtn:hover {
    background-color: #660066;
    color: white;
    cursor: pointer;
}

/*Invert an image*/
.invert{
    filter: brightness(0) invert(1);
}

/*---------------------------NAVBAR----------------------------- */

.navbar {
  overflow: hidden;
  background-color: #F4D569;
  box-shadow: 0 4px 8px 0 #c7c7c7;
}

.navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.nav-label {
  margin: 13px;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #ffc800;
  color: black;
}

.navbar a.active {
  background-color: #F4D569;
  color: #000000;
  float:left
}

.navbar .icon {
    display: none;
    margin: 13px;
}

.navbar .search {
    display: none;
    margin: 13px;
}

.navbar .search-bar {
  float: right;
  margin-top: 13px;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: px;
  border: none;
  width: 250px;
}

.sbutton {
  float: right;
  padding: 6px 6px;
  margin-top: 4px;
  margin-right: 16px;
  background: #923434;
  font-size: 10px;
  border: none;
  cursor: pointer; 
}

.sbutton:hover {
  background: rgb(170, 21, 21);
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar .search-bar{
      display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    .navbar.responsive a.active {
    display: none;
  }

    .navbar.responsive .search{
    display: block;
    }
}

  /* .navbar a, .navbar input[type=text], navbar .search-bar button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;
  } */


/*-------------------------------FOOTER--------------------------------*/





.footer-distributed{
	background: #212121;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
    color: white;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}


/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}


/* --------------------Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input[type = text],
.footer-distributed form textarea{
	display: block;
	box-sizing: border-box;
	background-color:  #2c2c2c;
    border: none;
	resize: none;
	font-size: 14px;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}

/* .footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
} */


.footer-distributed form input[type = text]{
	height: 55px;
	margin-bottom: 15px;
    font: bold 14px sans-serif;

}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input[type = text],
	.footer-distributed form textarea{
		width: 350px;
	}


}

/* @media (max-width: 600px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
} */
